{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}- Category
	{{ categories.name }}
{% endblock %}

{% block body %}
	{% for program in programs %}
		<div class="container mt-4">
			<h1>{{ categories.name }}'s Series</h1>
			<div class="mt-4">
				<button type="button" class="btn disabled">Serie n°
					{{ program.id }}</button>
				<button type="button" class="btn disabled">Category :
					{{ program.category.name }}</button>
				<button type="button" class="btn disabled">Country :
					{{ program.country }}</button>
				<button program="button" class="btn disabled">Year :
					{{ program.year }}</button>
			</div>

			<div class="card mb-3 d-inline-block mt-4">
				<h2 class="card-header">{{ program.title }}</h2>
				<img class="align-self-start m-4 rounded" src="{{program.poster}}" alt="{{ program.title }} poster">
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<div class="card-body">
					<h2>Synopsis</h2>
					<button type="button" class="btn disabled mt-4">
						<p class="card-text">{{ program.synopsis }}</p>
					</button>
				</div>
				<div class="card-footer">
					<a class="btn" href="{{ path("program_show", { slug: program.slug }) }}">See more details...
					</a>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
