{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}- Series
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<h1>Series</h1>
		{% for program in programs %}
			<div class="mt-4">
				<button type="button" class="btn btn-info disabled">Serie n°
					{{ program.id }}</button>
				<button type="button" class="btn btn-danger disabled">Category :
					{{ program.category.name }}</button>
				<button type="button" class="btn btn-success disabled">Country :
					{{ program.country }}</button>
				<button type="button" class="btn btn-warning disabled">Year :
					{{ program.year }}</button>
			</div>
			<div class="mt-4">
				<h2>Title :
					{{ program.title }}</h2>
			</div>
			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">Synopsis</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-warning">
						<td>{{ program.synopsis }}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
		{% else %}
			No series found
		{% endfor %}
	</div>
{% endblock %}
