{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	- Serie -
	{{ programs.title }}
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<div class="mt-4">
			<button type="button" class="btn disabled">Serie n°
				{{ programs.id }}</button>
			<button type="button" class="btn disabled">Category :
				{{ programs.category.name }}</button>
			<button type="button" class="btn disabled">Country :
				{{ programs.country }}</button>
			<button type="button" class="btn disabled">Year :
				{{ programs.year }}</button>
		</div>
		<div class="card mb-3 d-inline-block mt-4" style="max-width: 800px;">
			<h2 class="card-header">Title :
				{{ programs.title }}</h2>
			<img class="align-self-start m-4 img-fluid rounded" src="{{programs.poster}}" alt="{{ programs.title }} poster">
			<rect width="100%" height="100%" fill="#868e96"></rect>
			<div class="card-body">
				<h2>Synopsis</h2>
				<button type="button" class="btn disabled mt-2">
					<p class="card-text">{{ programs.synopsis }}</p>
				</button>
			</div>
			<div class="dropdown m-3">
				<div class="dropdown show">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Saisons
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						{% for season in programs.seasons %}
							<a class="dropdown-item" href="{{ path('program_season_show', {'programId': programs.id, 'seasonId': season.id}) }}">Saison
								{{ season.number }}</a>
							<hr class="hr">
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card-footer">
				<a href="{{ path('program_index') }}" class="btn">
					Return to list of series
				</a>
			</div>
		</div>
	</div>
{% endblock %}
