<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Wild-series</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('program_index') }}">Programmes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('actor_index') }}">Acteurs</a>
				</li>
				<li class="nav-item">
					{{ component('navbar')}}
				</li>
				<li>
					<div class="dropdown mx-2">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
							Ajouter
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{{ path('program_new') }}">Ajouter une serie</a>
							<a class="dropdown-item" href="{{ path('category_new') }}">Ajouter une catégorie</a>
							<a class="dropdown-item" href="{{ path('app_season_new') }}">Ajouter une saison</a>
							<a class="dropdown-item" href="{{ path('app_episode_new') }}">Ajouter un épisode</a>
							<a class="dropdown-item" href="{{ path('actor_new') }}">Ajouter un acteur</a>
						</div>
					</div>
				</li>
				<li>
					<div class="dropdown mx-2">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
							Admin
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{{ path('program_index') }}">Serie</a>
							<a class="dropdown-item" href="{{ path('category_index') }}">Catégorie</a>
							<a class="dropdown-item" href="{{ path('app_season_index') }}">Saison</a>
							<a class="dropdown-item" href="{{ path('app_episode_index') }}">Episode</a>
						</div>
					</div>
				</li>

			</ul>
			{% if app.user %}
				<p class="mt-3">Bonjour
					{{ app.user.username }}</p>
				<a href="{{path('security.logout')}}" class="btn btn-primary mx-4">Logout</a>
			{% else %}
				<a href="{{path('security.login')}}" class="btn btn-primary mx-4">Login</a>
			{% endif %}
			<button {{ stimulus_action('theme', 'toggleDarkMode') }} class="btn btn-secondary">Dark mode</button>
		</div>
	</div>
</nav>
