<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Wild-series</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('program_index') }}">Programmes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('category_index') }}">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('actor_index') }}">Acteurs</a>
				</li>
				<li>
					<div class="dropdown show mx-2">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Ajouter
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="{{ path('program_new') }}">Ajouter une serie</a>
							<a class="dropdown-item" href="{{ path('category_new') }}">Ajouter une catégorie</a>
							<a class="dropdown-item" href="{{ path('app_season_new') }}">Ajouter une saison</a>
							<a class="dropdown-item" href="{{ path('app_episode_new') }}">Ajouter un épisode</a>
						</div>
					</div>
				</li>
				<li>
					<div class="dropdown show mx-2">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Admin
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="{{ path('program_index') }}">Serie</a>
							<a class="dropdown-item" href="{{ path('category_index') }}">Catégorie</a>
							<a class="dropdown-item" href="{{ path('app_season_index') }}">Saison</a>
							<a class="dropdown-item" href="{{ path('app_episode_index') }}">Episode</a>
						</div>
					</div>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
